body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}

header {
    background: #ff2727;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

button {
    background: #d90a0a;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #b0051c;
}

#result {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f50404;
    color: #333;
    border: 1px solid #540000;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
}

#result.success {
    background-color: #99fb9c;
    border-color: #26812b;
    color: #247c29;
}

#result.error {
    background-color: #f82839;
    border-color: #67020c;
    color: #721c24;
}

#result.processing {
    color: #c24b02;
    background-color: #ffb236;
    border-color: #fbb141;
}
