body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}

header {
    background: #ff2727;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

button {
    background: #d90a0a;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #b0051c;
}
